<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
<TITLE>Harduino - Expansion Board</TITLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P>This project template is the basis of an expansion board for the
<A HREF="http://github.com/thejustmoose/Harduino" TARGET="blank"> Harduino</A> <BR><BR>
This base project includes a PCB edge defined as the same <BR>
size as the Harduino PCB with the connectors placed <BR>
correctly to align the two boards. <BR><BR>

Contours and holes can be easely modified, just remove line or hole<BR> 
and redraw wath you want in layer "edge.cuts".<BR>

The final PCB looks like the following:
</P>
<P><IMG SRC="Harduino.png" NAME="brd" ALIGN=BOTTOM><BR><BR><BR><BR>
</P>
<P>(c)2019 Just Moose.<BR></P>
